# dependencies
node_modules

# environment variables
.env
.env.*

# build
dist
build

# logs
logs
*.log

# macOS
.DS_Store

# VS Code
.vscode

# Prisma generated
server/src/generated/prisma

# cookies
cookies.txt